<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'setting/css/header.css' %}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'setting/img/favicon.png' %}"/>
    <script src="{% static 'setting/scripts/script.js' %}"></script>
    <meta charset="UTF-8">
    <title>Детские игровые лабиринты</title>
</head>
<body>
<div class="header">
    {% for set in setting %}
    <div class="header_img"><img src="{{ set.logo.url }}" class="header_img"></div>
    <div class="header_slogan">
        <div class="header_opisanie">{{ set.opisanie }}</div>
        <div class="header_zagolovok">{{ set.zagolovok }}</div>
    </div>
    <div class="header_contact">
        <div class="header_phone">{{ set.phone }}</div>
        <div class="header_mail">{{ set.mail }}</div>
    </div>
    {% endfor %}
    <input class="header_button" type="button" value="Заказать звонок">
</div>
{% for banner in banner %}
<div class="banners" style="background-image: url({{ banner.banner.url }})">
    <div class="banners_opisanie">
        <div class="opisanie_banner"><span>{{ banner.description }}</span></div>
        <div class="opisanie_banner_pod"><span>{{ banner.pod_description }}</span></div>
    </div>
    <div><input type="button" id="zakaz_consult" value="Заказать консультацию" class="button"></div>
</div>
{% endfor %}
<div class="poradok">
    {% for por in poradok %}
    <div class="poradok_2">
        <div><img src="{{ por.image.url }}"></div>
        <div id="poradok_text">{{ por.title }}</div>
    </div>
    {% endfor %}
</div>


<div class="katalog">
    {% for katalog in katalog %}
    <div class="katalog_2">
        <div><img class="katalog_img" src="{{ katalog.image.url }}"></div>
        <br>
        <div>{{ katalog.title }}</div>
        <br>
        <div>{{ katalog.description }}</div>
        <br>
        <input type="button" id="pol_catalog" value="Получить каталог">
    </div>
    {% endfor %}
</div>



<div id="banner_2">
    {% for b in banner_2 %}
    <img src="{{ b.banner_2.url }}" id="banner_pol_kat">
    <div id="opisanie_banner_pol_cat"><span>{{ b.title }}</span></div>
    <div id="opisanie_banner_pod_pol_cat"><span>{{ b.opisanie_1 }}</span></div>
    <div id="opisanie_banner_pod_pol_cat_pod"><span>{{ b.opisanie_2 }}</span></div>
    <form action="" method="">
            <div id="form_na_banner_poln_kat"></div>
        <input type="text" id="name_pol_cat"><label for="name_pol_cat" id="name_label_pol_cat">Ваше имя:</label>
        <input type="tel" id="phone_numbers_pol_kat"><label for="phone_numbers_pol_kat" id="phone_numbers_label_pol_cat">Номер телефона:</label>
        <input type="email" id="email_client_banner_pol_cat"><label for="email_client_banner_pol_cat" id="email_client_banner_label_pol_cat">Введите ваш email:</label>
    {% endfor %}
        <input type="button" id="zakaz_consult_pol_cat" value="Заказать консультацию" class="button">
      </form>
</div>
<div id="preim_va">
    {% if preimva %}
    <div id="preim_va_text"><h1>Как мы работаем</h1></div>
    {% endif %}
    {% for i in preimva %}
    <div id="preim_va_stolb_1">
        <img src="{{ i.image.url }}" width="50" height="50">
    <br>
        <div id="preim_va_stolb_1_1">{{ i.title }}</div>
    <br>
    <div id="preim_va_stolb_1_2">{{ i.description }}</div>
    </div>
    {% endfor %}
</div>
</body>
</html>